* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #0a192f;
}

img {
    object-fit: cover;
}

<<<<<<< HEAD
=======

>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
.component-box {
    display: flex;
}

.com-box {
    display: flex;
    flex-direction: column;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
<<<<<<< HEAD
    background-color: #ffffff;
    border-bottom: 1px solid #dfdfdf;
    color: #ffffff;
=======
    /* background-color: #ffffff; */
    border-bottom: 1px solid #dfdfdf;
    /* color: #ffffff; */
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
    width: 100%;
    height: 80px;
    padding: 0 40px;
    position: relative;
    z-index: 1000;
}

<<<<<<< HEAD
header .logo-box > img {
=======
header .logo-box>img {
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
    width: 130px;
}

header .search-box {
    width: 900px;
    height: 45px;
    position: relative;
}

header .search-box input {
    width: 900px;
    height: 45px;
    border-radius: 20px;
    border: 1px solid #dfdfdf;
    outline: unset;
    padding: 20px;
    font-size: 18px;
    color: #0a192f;
<<<<<<< HEAD
    background-color: #ffffff;
=======
    /* background-color: #ffffff; */
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
}

header .search-box input:focus {
    outline: 1px solid #F89448;
}

header .search-box input::placeholder {
    color: #F89448;
}

header .search-box i {
    position: absolute;
    font-size: 20px;
    top: 12px;
    right: 20px;
    color: #F89448;
}

header .sign-box {
    align-items: center;
    gap: 20px;
    font-weight: 500;
}

header .sign-box a {
    font-size: 18.5px;
    color: #F89448;
}

header .sign-box p {
<<<<<<< HEAD
    color: #dfdfdf;
=======
/*     color: #dfdfdf; */
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
}

[class*="box"] {
    display: flex;
}

/* main */
main {
    display: flex;
    justify-content: start;
<<<<<<< HEAD
    background-color: #e0f7fa;
=======
    /* background-color: #e0f7fa; */
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
}

.left-box {
    width: 300px;
    height: calc(100vh - 80px);
<<<<<<< HEAD
    background-color: #ffffff;
=======
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
    padding: 20px;
    z-index: 100;
    border-right: 1px solid #dfdfdf;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    font-size: 20px;
}

.left-box .link-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-box a {
    width: 200px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    padding: 20px;
    justify-content: start;
    align-items: center;
<<<<<<< HEAD
    color: #333;
=======
    /* color: #333; */
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
}

.left-box a.left-select {
    font-weight: bold;
    background-color: #f3f3f3;
    color: #F89448;
}

.mid-top {
    width: 100%;
    height: 80px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dfdfdf;
<<<<<<< HEAD
    background-color: #ffffff;
=======
    /* background-color: #ffffff; */
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
    position: sticky;
    top: 0;
    white-space: nowrap;
}

.mid-top a {
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 30px;
<<<<<<< HEAD
    color: #333;
}

.mid-top a.mid-select {
    color: #03045e;
=======
/*     color: #333; */
}

.mid-top a.mid-select {
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
    font-weight: bold;
    border-bottom: 4px solid #F89448;
}

.mid-box {
    position: relative;
    width: calc(100vw - 300px - 400px);
    height: calc(100vh - 80px - 80px);
<<<<<<< HEAD
    background-color: #ffffff;
=======
    /* background-color: #ffffff; */
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
}

.mid-box .post-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mid-box .post {
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
<<<<<<< HEAD
    background-color: #ffffff;
=======
    /* background-color: #ffffff; */
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.mid-box .post .post-info-box {
    gap: 15px;
}

<<<<<<< HEAD
.mid-box .post .profile-box > img {
=======
.mid-box .post .profile-box>img {
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.mid-box .post .post-bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mid-box .post .post-bottom .box {
    align-items: center;
    gap: 15px;
}

.mid-box .post .post-bottom .box h3 {
<<<<<<< HEAD
    color: #333;
}

.mid-box .post .post-bottom .box p {
    color: #5c6b73;
}

.mid-box .post .post-bottom > p {
    font-size: 20px;
    color: #333;
=======
    /* color: #333; */
}

.mid-box .post .post-bottom .box p {
    /* color: #5c6b73; */
}

.mid-box .post .post-bottom>p {
    font-size: 20px;
/*     color: #333; */
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
}

.mid-box .post .post-bottom .post-picture {
    width: 700px;
    height: 400px;
    border-radius: 15px;
}

.mid-box .post .reaction-box {
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}

.mid-box .post .reaction-box i {
<<<<<<< HEAD
    color: #333;
=======
/*     color: #333; */
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
    font-size: 18px;
}

.mid-box .post .reaction-box p {
    color: #fff;
    font-size: 18px;
}

.mid-box .post .reaction-box .box-con {
    gap: 15px;
}

<<<<<<< HEAD
.mid-box .post .reaction-box .box-con > a {
=======
.mid-box .post .reaction-box .box-con>a {
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
    display: flex;
    align-items: center;
    gap: 7.5px;
    padding: 10px 12.5px;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #F89448;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
<<<<<<< HEAD
}

.mid-box .post .reaction-box .box-con > a.like-it {
=======

    & p {
        background-color: #F89448;
    }
}

.mid-box .post .reaction-box .box-con>a.like-it {
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
    background-color: #ff6f00;
    color: #ffffff;
}

.post-btn {
    position: fixed;
    right: 430px;
    bottom: 30px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #F89448;
    z-index: 100;
    transition: .3s;
    cursor: pointer;
}

.post-btn i {
<<<<<<< HEAD
=======
    background-color: #F89448;
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
    color: #ffffff;
}

.right-box {
    flex-direction: column;
    width: 400px;
    height: calc(100vh - 80px);
<<<<<<< HEAD
    background-color: #ffffff;
=======
    /* background-color: #ffffff; */
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
    overflow-y: scroll;
    scrollbar-width: none;
    border-left: 1px solid #dfdfdf;
}

.right-box .right-top {
    width: 100%;
    height: 70px;
    display: flex;
    padding: 15px;
    align-items: center;
<<<<<<< HEAD
    background-color: #ffffff;
=======
    /* background-color: #ffffff; */
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
    color: #03045e;
    font-weight: bold;
    position: sticky;
    top: 0;
}

<<<<<<< HEAD
.right-box .right-top > p {
=======
.right-box .right-top>p {
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
    font-size: 20px;
}

.right-box .community-box {
    display: flex;
    flex-direction: column;
}

.right-box .community-box .community {
    display: flex;
    align-items: center;
    height: 130px;
    gap: 15px;
    padding: 15px;
}

.right-box .community-box .community img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.right-box .community-box .community h3 {
    font-size: 18px;
<<<<<<< HEAD
    color: #333;
=======
  /*   color: #333; */
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
}

.right-box .community-box .community .com-box {
    flex-direction: column;
    justify-content: center;
    gap: 7.5px;
}

<<<<<<< HEAD
.right-box .community-box .community .com-box > .box {
=======
.right-box .community-box .community .com-box>.box {
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
    align-items: center;
    gap: 7.5px;
}

.right-box .community-box .community .com-box p {
<<<<<<< HEAD
    color: #5a5a5a;
=======
  /*   color: #5a5a5a; */
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
    font-size: 15px;
}

/* 중고마켓 */
.pro-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pro-box .pro {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    padding: 30px;
    border-radius: 15px;
<<<<<<< HEAD
    background-color: #ffffff;
=======
    /*     background-color: #fffff; */
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
}

.pro-box .pro img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.pro-box .pro p {
    font-size: 18px;
    color: #000000;
}

.pro-box .pro h3 {
    font-size: 20px;
    color: #000000;
}

.pro-box .pro .box {
    display: flex;
    gap: 5px;
}

.pro-box .pro .box p {
    color: #5a5a5a;
    font-size: 15px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 6132187 (백엔드/프론트 연동 및 다크모드 구현 및 고객센터 구현)
