* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}

.mid-post-box {
    background-color: #f1f1f1;
    width: calc(100vw - 300px - 400px);
    display: flex;
    justify-content: center;
    padding: 20px;

    & .post-container {
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        border-radius: 20px;
        padding: 20px;
        background-color: white;
    }
}

.post-top-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    & .profile-con {
        display: flex;
        align-items: center;
        gap: 20px;

        & img {
            border-radius: 50%;
            width: 60px;
            height: 60px;
        }
    }

    & input {
        padding: 15px 10px;
        margin-left: 40px;
        border: 0;
        border-left: 3px solid #F89448;
        font-size: 18px;
        outline: unset;
    }
}

.post-mid-box {
    margin-left: 40px;
    border-bottom: 1px solid #d5d5d5;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;

    & .detail-input {
        width: 100%;
        padding: 70px 20px;
/*   border: 0; */
        outline: unset;
        font-size: 17px;
        border: 1px solid #f1f1f1;
    }
}

.post-button-box {
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
 
    & * {
        width: 80px;
        height: 40px;
        border-radius: 15px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7.5px 10px;
        border: 1px solid #333;
        color: #333;

        &:nth-child(2) {
            border: 0;
            color: #fff;
            background-color: #F89448;
        }
    }
}