* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}

.mid-market-post-box {
    background-color: #f1f1f1;
    width: calc(100vw - 300px - 400px);
    display: flex;
    justify-content: center;
    padding: 20px;

    & .market-main-box {
        background-color: white;
        width: 100%;
        height: 100%;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }
}

.post-market-top-box {
    display: flex;
    border-bottom: 1px solid #d5d5d5;

    & .market-left-box {
        display: flex;
        flex-direction: column;
        gap: 15px;

        & img {
            width: 150px;
            height: 150px;
            border-radius: 15px;
        }
    }

    & .market-right-box {
        width: 100%;
        display: flex;
        flex-direction: column;

        & input {
            width: 100%;
            padding: 30px 10px;
            border: 0;
            border-bottom: 1px solid #d5d5d5;
            font-size: 16px;
            outline: unset;
        }

        & textarea {
            height: 350px;
            display: flex;
            border: 0;
            padding: 30px 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            outline: unset;
            resize: none;
        }

        & .in-box {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #d5d5d5;
            padding: 30px 10px;

            & .text-box {
                display: flex;
                align-items: center;
                gap: 15px;
                font-size: 15px;

                & p {
                    width: 70px;
                }

                & h3 {
                    font-weight: 500;
                }
            }
        }
    }
}

.post-market-btn-box {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    height: 100%;
    padding: 20px;

    & * {
        width: 80px;
        height: 40px;
        border-radius: 15px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7.5px 10px;
        border: 1px solid #333;
        color: #333;

        &:nth-child(2) {
            border: 0;
            color: #fff;
            background-color: #F89448;
        }
    }
}