* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}

.mid-service-container {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-section {
    height: 500px;
    background-color: #F89448;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;

    & h1 {
        color: white;
        font-size: 55px;
        line-height: 1.3;
        width: fit-content;
        padding: 10px 20px;
        border-left: 8px solid #fff;
    }
    & .button-box {
        width: 380px;
        display: flex;
        justify-content: start;
        gap: 15px;

        & button {
            padding: 10px 20px;
            color: #F89448;
            font-weight: bold;
            font-size: 18px;
            background-color: white;
            border: 0;
            border-radius: 15px;
        }
    }
}

.back-btn {
    position: absolute;
    color: white;
    top: 30px;
    left: 30px;
    font-size: 20px;
}

.qna-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 15px;

    & > p {
        font-size: 20px;
        font-weight: 500;
        color: #9b9b9b;
    }

    & > h1 {
        font-size: 60px;
        font-weight: bold;
        color: #F89448;
    } 
}

hr {
    width: 1500px;
    opacity: 0.9;
}

.question-container {
    display: flex;
    flex-direction: column;

    & .question {
        width: 1100px;
        padding: 20px;
        color: #9b9b9b;
        border-bottom: 1px solid #333;
        display: flex;
        justify-content: space-between;
    }
}