* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}

img {
    object-fit: cover;
}

.profile-box {
    display: flex;
    flex-direction: column;
    gap: 45px;

    & h3 {
        width: calc(100vw - 300px);
        padding: 20px;
        display: flex;
        align-items: center;
        height: 80px;
        border-bottom: 1px solid #858585;
    }

    & img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid #000000;
    }

    .com-box {
        display: flex;
        flex-direction: column;
        gap: 15px;
        cursor: pointer;
    }

    .change-profile {
<<<<<<< HEAD
        padding: 5px;
        background-color: #0077b6;
=======
        cursor: pointer;
        padding: 5px;
        background-color: #F89448;
>>>>>>> 6837621 (프론트/백엔드 연결 완료 및 회원가입 페이지 구현)
        border: 0;
        color: white;
        font-weight: 500;
        border-radius: 7.5px;
    }

    .box {
        display: flex;
        align-items: center;

        &>p {
            padding: 0 30px;
            width: 250px;
            font-weight: 500;
            font-size: 17px;
        }

        &>button {
<<<<<<< HEAD
            margin: 50px 30px;
            padding: 10px 20px;
            background-color: #0077b6;
=======
            cursor: pointer;
            margin: 50px 30px;
            padding: 10px 20px;
            background-color: #F89448;
>>>>>>> 6837621 (프론트/백엔드 연결 완료 및 회원가입 페이지 구현)
            border: 0;
            color: white;
            font-weight: 500;
            border-radius: 7.5px;
        }
    }

    .column-box {
        display: flex;
        flex-direction: column;
        gap: 15px;

        & label {
            width: 50px;
        }

        & .box {
            flex-direction: column;
            align-items: start;
            gap: 7.5px;
        }

        & input {
            width: 300px;
<<<<<<< HEAD
            padding: 5px;
=======
            padding: 7.5px;
            border-radius: 5px;
            border: 1px solid #333;
            outline: unset;
            transition: .3s;

            &:focus {
                outline: unset;
                border: 1px solid #ff6f00;
            }
>>>>>>> 6837621 (프론트/백엔드 연결 완료 및 회원가입 페이지 구현)
        }
    }
}

select {
    padding: 7.5px;
}