* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}

img {
    object-fit: cover;
}

.sign-up-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    & .com-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;


        & button {
            width: 200px;
            border: 0;
            background-color: #0077b6;
            color: white;
            border-radius: 10px;
            padding: 10px;
            margin-top: 30px;
            font-size: 17px;
            font-weight: 500;
        }
    }

    & .box {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & label {
            color: #212529;
            font-size: 17px;
        }

        & input {
            width: 300px;
            padding: 7.5px;
            border: 0;
            border-bottom: 1px solid #0077b6;
            outline: unset;
            transition: .3s;

            &:focus {
                border-bottom: 1px solid #004b74;
            }
        }
    }

}