* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}

img {
    object-fit: cover;
}

.all-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.com-box {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
}